# SMOTE
---

In [1]:
import pandas as pd

In [2]:
data= pd.read_excel('./Ether Fraud Transaction case study.xlsx')
data.head()

,FLAG,Avg _Min_Sent_txn,Avg _Min_Recv_txn,Time_Diff,Min value received,Max value received,Min value sent,Max value sent,Total transactions
0,0,21.80,0.00,65.40,101.000000,101.000000,1.000000,84.176518,4
1,0,1073.76,1476.59,24563.10,0.216334,6.999559,0.000000,7.557834,21
2,0,13.57,10125.40,638755.18,0.010053,20.000000,0.008583,19.999769,126
3,0,163765.17,0.00,327530.33,0.002457,0.002457,0.000000,0.000508,3
4,0,22371.43,29004.65,596613.23,0.005441,1000.000000,0.000000,1000.000000,25

In [3]:
# Shape of the Data
data.shape

(9840, 9)

In [4]:
# count the values in FLAG
data.FLAG.value_counts()

0    7661
1    2179
Name: FLAG, dtype: int64

In [5]:
#df1=data['Min value received'].copy()

In [6]:
#df1

In [7]:
# Dependent and Independents
X= data.iloc[:,1:]
Y= data.FLAG

In [8]:
X.head()

,Avg _Min_Sent_txn,Avg _Min_Recv_txn,Time_Diff,Min value received,Max value received,Min value sent,Max value sent,Total transactions
0,21.80,0.00,65.40,101.000000,101.000000,1.000000,84.176518,4
1,1073.76,1476.59,24563.10,0.216334,6.999559,0.000000,7.557834,21
2,13.57,10125.40,638755.18,0.010053,20.000000,0.008583,19.999769,126
3,163765.17,0.00,327530.33,0.002457,0.002457,0.000000,0.000508,3
4,22371.43,29004.65,596613.23,0.005441,1000.000000,0.000000,1000.000000,25

In [9]:
# Normalizing using Standard Scaler
from sklearn.preprocessing import StandardScaler
scale= StandardScaler()

In [10]:
scaled_X= scale.fit_transform(X)

In [11]:
scaled_X

array([[-0.23563546, -0.34683151, -0.67581383, ..., -0.02741928,
        -0.03472053, -0.20658626],
       [-0.18667347, -0.28285902, -0.59994049, ..., -0.03463378,
        -0.04627836, -0.19401603],
       [-0.23601852,  0.09184615,  1.30231167, ..., -0.03457186,
        -0.04440151, -0.11637637],
       ...,
       [-0.23665011, -0.34683151, -0.67601638, ..., -0.03463378,
        -0.04741845, -0.20880453],
       [-0.21206718, -0.33911628, -0.6710901 , ..., -0.03067802,
        -0.04733556, -0.20584683],
       [-0.23665011, -0.24418326,  0.22656596, ..., -0.03463378,
        -0.04741845, -0.11785522]])

In [12]:
# Train and Test splitting
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test= train_test_split(scaled_X,Y, test_size=0.2, random_state=10)

In [13]:
from sklearn.tree import DecisionTreeClassifier
model_DT= DecisionTreeClassifier()

In [14]:
# Fit the data into the model
model_DT.fit(x_train,y_train)
y_predict=model_DT.predict(x_test)

# Before SMOTE

In [15]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_predict))
pd.crosstab(y_test, y_predict)

0.913109756097561

col_0     0    1
FLAG
0      1468   85
1        86  329

In [16]:
# introduce SMOTE

In [17]:
#pip install imblearn

In [18]:
#import warnings
#filter.warnings('ignore')

In [19]:
from imblearn.over_sampling import SMOTE
smote=SMOTE()

In [20]:
x_train_SMOTE, y_train_SMOTE= smote.fit_resample(x_train.astype('float'),y_train)

In [21]:
# comparision with Counter
from collections import Counter

In [22]:
print("Before SMOTE: ", Counter(y_train))
print("After SMOTE: ", Counter(y_train_SMOTE))

Before SMOTE:  Counter({0: 6108, 1: 1764})
After SMOTE:  Counter({0: 6108, 1: 6108})

In [23]:
model_DT.fit(x_train_SMOTE,y_train_SMOTE)
y_predict= model_DT.predict(x_test)

In [24]:
print(accuracy_score(y_test,y_predict))
pd.crosstab(y_test, y_predict)

0.8998983739837398

col_0     0    1
FLAG
0      1424  129
1        68  347